<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Alex</div>
            <div class="panel-body">
                <div class="container">
                    <div class="col-md-3">
                    <a href="#" class="profile-pic">
                        <div class="profile-pic" style="background-image: url('/images/blank-user.png')" >
                            <span class="glyphicon glyphicon-camera"></span>
                            <span>Change Image</span>
                        </div>
                    </a>
                    </div>
            
                    <div class="col-md-3">      
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Account Integrations</a>
                        <a href="#" class="list-group-item">Google<div class="inlineRight"><i class="fa fa-google fa-2x account-icon" aria-hidden="true"></i></div></a>
                        <a href="#" class="list-group-item">Facebook<div class="inlineRight"><i class="fa fa-facebook-official fa-2x account-icon" aria-hidden="true"></i></div></a>
                        <a href="#" class="list-group-item">Spotify<div class="inlineRight"><i class="fa fa-spotify fa-2x account-icon" aria-hidden="true"></i></div></a>
                        <a href="#" class="list-group-item">Add Account<div class="inlineRight"><i class="fa fa-plus fa-2x add-icon" aria-hidden="true"></i></div></a>
                    </div>
                    </div>

                    <div class="col-md-6">      
                    <div class="list-group">
                        <a href="#" class="list-group-item active">My Daily Activites</a>
                        <a href="#" class="list-group-item">Listen to ABC Sydney internet radio in the morning</a>
                        <a href="#" class="list-group-item">Display todays schedule in the morning</a>
                        <a href="#" class="list-group-item">Catch up on my overnight emails</a>
                        <!-- div goes here, give it an id -->
                        
                        <a href="#" class="list-group-item">Add Activity<div class="inlineRight"><i class="fa fa-plus fa-2x add-icon" aria-hidden="true"></i></div></a>               
                    </div>
                </div>

                    <!-- <div class="col-md-6">
                    </div> -->
            </div>
        </div>
    </div>
</div>
    