<script>
$(document).ready(function(){
    $(".btn1").click(function(){
        $("p").hide();
    });
    $(".btn2").click(function(){
        $("p").show();
    });
});
</script>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><button class="btn1"><i class="fa fa-pencil fa-2x" aria-hidden="true" style="color:blue"></i><br></button>
	<p>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Name">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Save</button>
      </span>
    </div>
  </div>
</div>
	</p>
	</div>

            <div class="panel-body">
                <div class="container">
                    <div class="col-md-3">
                    <a href="#" class="profile-pic">
                        <div class="profile-pic" style="background-image: url('/images/blank-user.png')" >
                            <span class="glyphicon glyphicon-camera"></span>
                            <span>Change Image</span>
                        </div>
                    </a>
                    </div>
            
                    <div class="col-md-3">      
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Account Integrations</a>
                        <a href="#" class="list-group-item">Google<div class="inlineRight"><i class="fa fa-google fa-2x account-icon" aria-hidden="true"></i></div></a>
                        <a href="#" class="list-group-item">Facebook<div class="inlineRight"><i class="fa fa-facebook-official fa-2x account-icon" aria-hidden="true"></i></div></a>
                        <a href="#" class="list-group-item">Spotify<div class="inlineRight"><i class="fa fa-spotify fa-2x account-icon" aria-hidden="true"></i></div></a>
                        <a href="#" class="list-group-item">Add Account<div class="inlineRight"><i class="fa fa-plus fa-2x add-icon" aria-hidden="true"></i></div></a>
                    </div>
                    </div>

                    <div class="col-md-6">      
                    <div class="list-group">
                        <a href="#" class="list-group-item active">My Daily Activites</a>
                        <a href="#" class="list-group-item">Listen to ABC Sydney internet radio in the morning</a>
                        <a href="#" class="list-group-item">Display todays schedule in the morning</a>
                        <a href="#" class="list-group-item">Catch up on my overnight emails</a>
                        <!-- div goes here, give it an id -->
                        
                        <a href="#" class="list-group-item">Add Activity<div class="inlineRight"><i class="fa fa-plus fa-2x add-icon" aria-hidden="true"></i></div></a>               
                    </div>
                </div>

                <form action="/person" method="post" enctype="multipart/form-data">
                    Select image to upload:
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input name="id" id="id_element" value="1">
                    <input type="submit" value="Upload Image" name="submit">
                </form>
                
            </div>
        </div>
    </div>
</div>
    
