<!DOCTYPE HTML>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

    <style>
      #outline {
        border: 1px solid #9C9898;
      }
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  
  <body>
    <canvas id="outline" width="1000" height="800"></canvas>
    <script>
      var canvas = document.getElementById('outline');
      var context = canvas.getContext('2d');

      context.beginPath();
      context.rect(100, 150, 300, 300);
      context.fillStyle = 'transparent';
      context.fill();
      context.lineWidth = 7;
      context.strokeStyle = 'black';
      context.stroke();
      
      context.beginPath();
      context.rect(690, 150, 300, 300);
      context.fillStyle = 'transparent';
      context.fill();
      context.lineWidth = 7;
      context.strokeStyle = 'black';
      context.stroke();
      
      context.beginPath();
      context.arc(260, 330, 17, 0, 2*Math.PI )
      context.fillStyle = 'black';
      context.fill();
      context.lineWidth = 3
      context.strokeStyle = 'black';
      context.stroke();
      
      context.beginPath();
      context.arc(850, 330, 17, 0, 2*Math.PI )
      context.fillStyle = 'black';
      context.fill();
      context.lineWidth = 3
      context.strokeStyle = 'black';
      context.stroke();

      var dynamic; // Dynamic variables 
      var x;
      var y;

      function loop() // Loop function for the animation of the eyes
      {
        dynamic = dynamic * 1.1;
        x = dynamic
        y = dynamic * 9

        if (y>canvas.height)
        {
          
        }


        context.beginPath();
        context.arc(260, 330, 17, 0, 2*Math.PI )
        context.fillStyle = 'black';
        context.fill();
        context.lineWidth = 3
        context.strokeStyle = 'black';
        context.stroke();
      
        context.beginPath();
        context.arc(850, 330, 17, 0, 2*Math.PI )
        context.fillStyle = 'black';
        context.fill();
        context.lineWidth = 3
        context.strokeStyle = 'black';
        context.stroke();

      }


      
      
    </script>
  </body>