{% extends "layout.html" %}
{% block body %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary">Generate a notification</button>
      <img src="{{ url_for('video_feed') }}" class="livestream-img">
      <!-- <img src="http://localhost:8090/monitoring1.mjpg" class="livestream-img"> -->

    </div>
  </div>

  <script>
  $(function(){
    $(".btn").on("click",function(){
      $.notify({
        title: '<strong>Test</strong>',
        icon: 'glyphicon glyphicon-star',
        message: "This is a notification!"
      },{
        type: 'info',
        animate: {
          enter: 'animated fadeInUp',
          exit: 'animated fadeOutRight'
        },
        placement: {
          from: "bottom",
          align: "left"
        },
        offset: 20,
        spacing: 10,
        z_index: 1031,
      });
    });
  });
  </script>
{% endblock %}