<html>

<head>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/sandstone/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/magicmirror.css">
    <!--<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/lipis/flag-icon-css/master/css/flag-icon.css">-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/1ccbc5e1c9.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>

    <title>MagicMirror</title>
    
</head>

<body>
<div class="nav-collapse collapse">

</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <img src="/icons/mirror.png" style="position: relative; right : 120px; "> </img> -->
      <img src="/icons/person_in_mirror.png" style="position: relative; right : 120px; "> </img>
      <a class="navbar-brand" href="/" style="position: relative; left : 65px; ">MagicMirror</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav" id="navbarList">
        <li><a href="/">Home</a></li>
        {% if not g.user.is_authenticated %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
        
        {% if g.user.is_authenticated %}        
            <li><a href="{{ url_for('preferences') }}">Preferences</a></li>        
        {% endif %}
        
        <!-- <li><a href="{{ url_for('documentation') }}">Documentation</a></li>         -->

      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        {% if g.user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function() {
    $.each($('#navbarList').find('li'), function() {
        href = $(this).find('a').attr('href')
        console.log(href)
        $(this).toggleClass('active', window.location.pathname.indexOf(href) > -1);
    }); 
  });      
</script>

<div class="container">
{% block body %}{% endblock %}
</div>
</body>