<!DOCTYPE HTML>
<html>
    <head>
        
        <script type="text/javascript">
         function WebSocketTest()
         {
            if (!("WebSocket" in window)) {
                alert("WebSocket NOT supported by your Browser!");
            }
               
            // Let us open a web socket
            var ws = new WebSocket("ws://localhost:10001/channel");
            
            ws.onopen = function()
            {
                // Web Socket is connected
                console.log('Websocket connection opened')

                // send data using send()
                // console.log("Message is sent...");
            };
            
            ws.onmessage = function (evt) 
            { 
                var received_msg = evt.data;
                console.log(received_msg);
                ws.send("hello from the web browser");
            };
            
            ws.onclose = function()
            { 
                // websocket is closed.
                console.log("Connection is closed..."); 
            };

         }
      </script>
		
   </head>
   <body>
   
      <div id="sse">
         <a href="javascript:WebSocketTest()">Run WebSocket</a>
      </div>
      
   </body>
</html>